@font-face {
  font-family:anari;
  src: url(fonts/Proxima-Nova-Alt-Bold.otf);
}
@font-face {
  font-family:habiya;
  src: url(fonts/Proxima-Nova-Bold.otf);
}

@font-face {
  font-family:khilari;
  src: url(fonts/ProximaNova-Regular.otf);
}

/* header div starts here */
 .header{
   height:80px;
   background-color:#eef2f5;
 }
 .header .header-left{
   width:20%;
   float: left;
   margin-top:10px;
 }
 .header .header-right{
   float:left;

 }
 .header .header-right ul{
   margin-left:527px;
   margin-top:32px;
 }
 .header .header-right ul li:nth-child(1) a{
   color: #21d0b6;
   font-family:anari;
   font-weight:400;
 }
 .header .header-right ul li{
   display: inline-block;
   font-family:khilari;
   margin-right:20px;
   font-weight:700;


 }


 .header .header-right ul li a{
   color:#63656b;
 }
  .header .header-right ul li:nth-child(6) a{
    border:1px solid #63656b;
    padding:5px 15px;
    border-radius:5px;
  }
  .header .header-right ul li:nth-child(2) a i{
    margin-right:5px;
  }
/* header div ends here */
/* slider div starts here */
  .slider{
    height:500px;
    background:linear-gradient(#eef2f5,#b2b5b7);
    position: relative;
    overflow: hidden;


  }

  .slider .bgi{
    position:absolute;
    top:2px;
    left:188px;
  }
  .slider .bgi-people{
    position:absolute;
    bottom:1px;
    right:54px;
  }

  .mid{
    width:80%;
    margin: auto;
  }
  .slider .slider-left h1{
    font-family:anari;
    font-weight:normal;
    color:#222325;
    width:55%;
    float: left;
    font-size:35px;
  }
  .slider .slider-left{
    position: relative;

  }
.slider .slider-left input[type="text"]{

  box-sizing: border-box;
  position:absolute;
  top:128px;
  left:0px;
  padding:15px 155px;
  border:1px solid #DDDDDD;

}
.slider .slider-left input[type="submit"]{
  color:#fff;
  background-color:#1DBF73;
  position:absolute;
  top:128px;
  left:468px;
  padding:15px 25px;
  font-family:anari;
  border:1px solid transparent;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
}
.slider .slider-left form i{
  color:#999999;
  position: absolute;
  top:145px;
  left:16px;
}
.slider .slider-left input[type="text"]::placeholder{
  color:#9B9AA0;
  font-family:khilari;
  font-size:15px;
  text-align:right;
}
.slider .slider-left ul li{
  display: inline-block;
  font-family:khilari;
  font-size:15px;
  margin:0px 5px;



}
.slider .slider-left  ul li a{
  color: #62646A;
  border:1px solid #BEBFC3;
  padding:2px 5px;
  display: block;
  border-radius:5px;
}
.slider .slider-left  ul li:hover a{
  background-color:#c5c6c9;
}
.slider .slider-left ul{
  position: absolute;
  top:200px;
  left:0px;
  overflow:hidden;
}
.slider .slider-left ul li:nth-child(1){
  color:#62646A;
}
.slider .slider-right ul li{
  display: inline-block;


}
.slider .slider-right ul{
  bottom:39px;
  right:243px;
  position: absolute;
}
.slider .slider-right ul li i{
  color: #FFC100;
  font-size:14px;

}
.slider .slider-right h6{
  bottom:21px;
  right:153px;
  position: absolute;
  color:#fff;
  font-family:anari;
  font-size:13px;
}
.slider .slider-right h6 span{
  font-family:khilari ;
}

/* slider div ends here */
/* clients div starts here */
.clients{
  height:70px;

  box-shadow:inset 0 0 10px #dcdcdc;
}
.clients ul{
  width:80%;
  margin: auto;
}
.clients ul li{
  display: inline-block;
  margin-right:50px;
}
/* clients div ends here */
.services{
  margin-top:50px;
}
.services ul li{
  display: inline-block;
}
