@font-face {
  font-family:anari;
  src: url(fonts/Proxima-Nova-Alt-Bold.otf);
}
@font-face {
  font-family:habiya;
  src: url(fonts/Proxima-Nova-Bold.otf);
}

@font-face {
  font-family:khilari;
  src: url(fonts/ProximaNova-Regular.otf);
}

/* header div starts here */
 .header{
   height:80px;
   background-color:#eef2f5;
 }
 .header .header-left{
   width:20%;
   float: left;
   margin-top:10px;
 }
 .header .header-right{
   float:left;

 }
 .header .header-right ul{
   margin-left:527px;
   margin-top:32px;
 }
 .header .header-right ul li:nth-child(1) a{
   color: #21d0b6;
   font-family:anari;
   font-weight:400;
 }
 .header .header-right ul li{
   display: inline-block;
   font-family:khilari;
   margin-right:20px;
   font-weight:700;


 }


 .header .header-right ul li a{
   color:#63656b;
 }
  .header .header-right ul li:nth-child(6) a{
    border:1px solid #63656b;
    padding:5px 15px;
    border-radius:5px;
  }
  .header .header-right ul li:nth-child(2) a i{
    margin-right:5px;
  }
/* header div ends here */
/* slider div starts here */
  .slider{
    height:500px;
    background:linear-gradient(#eef2f5,#b2b5b7);
    position: relative;
    overflow: hidden;


  }

  .slider .bgi{
    position:absolute;
    top:2px;
    left:188px;
  }
  .slider .bgi-people{
    position:absolute;
    bottom:1px;
    right:54px;
  }

  .mid{
    width:80%;
    margin: auto;
  }
  .slider .slider-left h1{
    font-family:anari;
    font-weight:normal;
    color:#222325;
    width:55%;
    float: left;
    font-size:35px;
  }
  .slider .slider-left{
    position: relative;

  }
.slider .slider-left input[type="text"]{

  box-sizing: border-box;
  position:absolute;
  top:128px;
  left:0px;
  padding:15px 155px;
  border:1px solid #DDDDDD;

}
.slider .slider-left input[type="submit"]{
  color:#fff;
  background-color:#1DBF73;
  position:absolute;
  top:128px;
  left:468px;
  padding:15px 25px;
  font-family:anari;
  border:1px solid transparent;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
}
.slider .slider-left form i{
  color:#999999;
  position: absolute;
  top:145px;
  left:16px;
}
.slider .slider-left input[type="text"]::placeholder{
  color:#9B9AA0;
  font-family:khilari;
  font-size:15px;
  text-align:right;
}
.slider .slider-left ul li{
  display: inline-block;
  font-family:khilari;
  font-size:15px;
  margin:0px 5px;



}
.slider .slider-left  ul li a{
  color: #62646A;
  border:1px solid #BEBFC3;
  padding:2px 5px;
  display: block;
  border-radius:5px;
}
.slider .slider-left  ul li:hover a{
  background-color:#c5c6c9;
}
.slider .slider-left ul{
  position: absolute;
  top:200px;
  left:0px;
  overflow:hidden;
}
.slider .slider-left ul li:nth-child(1){
  color:#62646A;
}
.slider .slider-right ul li{
  display: inline-block;


}
.slider .slider-right ul{
  bottom:39px;
  right:243px;
  position: absolute;
}
.slider .slider-right ul li i{
  color: #FFC100;
  font-size:14px;

}
.slider .slider-right h6{
  bottom:21px;
  right:153px;
  position: absolute;
  color:#fff;
  font-family:anari;
  font-size:13px;
}
.slider .slider-right h6 span{
  font-family:khilari ;
}

/* slider div ends here */
/* clients div starts here */
.clients{
  height:70px;

  box-shadow:inset 0 0 10px #dcdcdc;
}
.clients ul{
  width:80%;
  margin: auto;

}
.clients ul li{
  display: inline-block;
  margin-right:50px;
}
/* clients div ends here */
/* services div starts here */
.services{
  margin-top:100px;
  position: relative;
  margin-bottom:100px;
}
.services .matha{
  font-family:khilari;
  font-size:28px;
  margin-left:31px;
}
.services ul li{
  display: inline-block;
}
.services ul li:nth-child(1){
  margin-left:30px;
}
.services ul li:hover a img{
  opacity: 0.8;
  transition:0.1s;
}
.services ul li a img{
  width:90%;

  margin-right:10px;

}
.services ul li a{
  display: block;
}
.services ul li a h3{
  position: absolute;
  top:22px;
  left:18px;
  font-family:khilari;
  color: #fff;
  font-size:14px;
  font-weight:400;
}
.services ul li a h1{
  position: absolute;
  top:30px;
  left:18px;
  font-family:khilari;
  color: #fff;
  font-size:22px;
}
.services ul li a{
  position: relative;
}
.car-left{
  width:50px;
  height:50px;
  background-color:#fff;
  border-radius:50%;
  position: absolute;
  top:126px;
  left:-25px;
  box-shadow:inset 0 0 5px #dcdcdc;
}
.car-left i{
  color: #959595;
  text-align: center;
  font-size:25px;
  margin-top:13px;
  margin-left:18px;
}
.car-right{
  width:50px;
  height:50px;
  background-color:#fff;
  border-radius:50%;
  position: absolute;
  top:126px;
  right:0px;
  box-shadow:inset 0 0 5px #dcdcdc;
}
.car-right i{
  color: #959595;
  text-align: center;
  font-size:25px;
  margin-top:13px;
  margin-left:18px;
}
/* services div ends here */
/* video div starts here */
 .video{
   margin-left:30px;
 }
 .video-left{
   width:50%;
   float: left;
 }
 .video-right{
   width:50%;
   float: left;
 }
 .video-left h2{
   font-family:khilari;
   font-size:26px;
   color: #222325;
   font-weight:700;

 }
 .video-left h3{
   font-family:khilari;
   display: block;
   float: left;
   width:95%;
}
 .video-left p{
   font-family:khilari;
   font-weight:400;
   color: #62777C;
   width:80%;
   padding:30px 0px;


}
  .video-left i{
    color: #1DBF73;
    width:5%;
    float: left;
}
.video-left .vl1{
  padding-top:20px;
}
.video-left .vl1,.vl2,.vl3{
  margin-top:20px;
}
.video-right{
  position: relative;
}
.video-right img{

  margin-left:-59px;

}
.video-right a i{
  font-size:70px;
  position: absolute;
  top:200px;
  left:258px;
  color: #2F261E;
}
/* video div ends here */
.marketplace ul{
 margin-left:100px;
}
.marketplace ul li{
  display: inline-block;
}
.marketplace ul li hr{
  width:20%;
  margin-left:10px;
  transition:0.5s;

  border-top:none;
  border:1.5px solid #C5C6C9;

}
.marketplace ul li:hover hr{
  transform: scale(1.5);

  border:1.5px solid #1DBF73;

}
.marketplace-top ul li{
  width:20%;
  padding:0px 25px;

}
.marketplace-top ul li img{
  margin-left:81px;
}

.marketplace-bottom ul{
  margin-top:100px;
}
.marketplace-bottom ul li{
  width:20%;
  padding:0px 25px;
}
.marketplace ul li h6{
  font-family:khilari;
  color:#898A8B;
  font-size:18px;
  font-weight:normal;
  text-align: center;
}
.marketplace-bottom ul li img{
  margin-left:81px;
}
.marketplace-bottom ul li hr{
  margin-left:97px;
}
.marketplace-top ul li hr{
  margin-left:97px;
}
.marketplace-top ul li:nth-child(1) img{
  margin-left:94px;
}
.marketplace-top ul li:nth-child(2) img{
  margin-left:82px;
}
.marketplace-top ul li:nth-child(3) img{
  margin-left:91px;
}
.marketplace-top ul li:nth-child(4) img{
  margin-left:95px;
}
.marketplace-bottom ul li:nth-child(1) img{
  margin-left:93px;
}
.marketplace-bottom ul li:nth-child(2) img{
  margin-left:95px;
}
.marketplace-bottom ul li:nth-child(3) img{
  margin-left:83px;
}
.marketplace-bottom ul li:nth-child(4) img{
  margin-left:88px;
}
.marketplace h2{
  font-family:khilari;
  font-size:26px;
  color: #222325;
  font-weight:700;
  margin-left:27px;
  padding-bottom:80px;

}
.marketplace{
  margin-top:703px;
  margin-bottom:120px;
}
