
@font-face {
  font-family:anari;
  src: url(fonts/Proxima-Nova-Alt-Bold.otf);
}
@font-face {
  font-family:khilari;
  src: url(fonts/ProximaNova-Regular.otf);
}

/* header div starts here */
 .header{
   height:80px;
   background-color:#eef2f5;
 }
 .header .header-left{
   width:20%;
   float: left;
 }
 .header .header-right{
   float:left;

 }
 .header .header-right ul{
   margin-left:527px;
   margin-top:20px;
 }
 .header .header-right ul li:nth-child(1) a{
   color: #21d0b6;
   font-family:anari;
 }
 .header .header-right ul li{
   display: inline-block;
   font-family:khilari;

 }


 .header .header-right ul li a{
   color:#6a6c71;
 }
/* header div ends here */
